body {
	background: #7ec0d6;
}
h1 {
	text-align: center;
	color: #09964d;
	font-size: 50px;
	font-family: Courier New; 
}
h2 {
	text-align: center;
	color: #09964d;
	font-size: 30px;
	font-family: Brush Script MT;
}
h3 {
	color: #09964d;
	font-size: 20px;
	font-family: Courier New;
}
h4 {
	color: black;
	font-size: 25px;
	font-family: Brush Script MT;
}
p {
	font-family: Courier New;
}
	
img {
	width: 20%;
	border: solid;
	border-color: #316a7d;
}


.homepictures {
	width: 30%;
	margin-top: 40px;
	margin-left: 10px;

}


.teal-bg {
	background-color: #316a7d;
}

.text-bg {
	color: black;
}

.meditationpictures {
	width: 30%;
	margin-left: 100px;
}
#brainimage {
	width: 40%;
	margin-left: 260px;
}

.hidden {
	display: none;
}

<<<<<<< HEAD
.bg-light {
}
=======
>>>>>>> 1e8347dbffc29706e32e2f6cac38582089de440b


.carousel-item {
	margin-left: 170px;
}


